.article_page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.article_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.add_news {
    width: max-content;
    margin: 20px;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;

}

.articles {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.articles::-webkit-scrollbar {
    display: none;
}

.article {
    display: flex;
    background-color: #2B2D31;
    height: max-content;
    width: 70vw;
    gap: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 1px solid #5a5a5a;

}

.edit_article {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: relative;
    padding-top: 80px;
}

.back_icon {
    position: absolute;
    top: 20px;
    left: 40px;

}

.article_content {
    height: max-content;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 70%;
    flex: 1;
}

.article_content::-webkit-scrollbar {
    display: none;
}

.article_title_input {
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 15px;
    border: none;
    outline: none;
    background-color: #2B2D31;
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 10px;
    border: 1px solid #5a5a5a;
    
}

.article_cover_photo {
    margin: auto;
    width: calc(100% - 20px);
    display: flex;
    gap: 10px;
    background-color: #2B2D31;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #5a5a5a;
    min-height: 30%;
}

.article_cover_photo>img {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 15px;
    border: 1px solid #8d3131;
    border-radius: 10px;
}

.article_cover_photo>h3 {
    padding: 10px;

}
.loading_icon{
    margin-left: 10px;
}
.upload_button{
    padding-left: 20px;
}

.upload_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin-left: 200px;
}

.upload_content>input {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #313338;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #666666;
}

.article_image {
    width: 300px;
    min-width: 300px;
    min-height: max-content;
}

.article_image>img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article_main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    word-break: break-all;
    justify-content: space-between;

}

.article_buttons {
    display: flex;
    gap: 20px;
    width: max-content;
    margin-left: auto;
}

.article_title {
    overflow-wrap: break-word;
}

.tag_adder {
    position: relative;
}

.suggested_tags {
    position: absolute;
    left: 10px;
    top: calc(100% + 10px);
    width: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #2B2D31;
    min-height: max-content;
    max-height: 200px;
    border-radius: 10px;
    border: 1px solid #5a5a5a;
    padding: 10px;
    gap: 10px;
    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tag_suggestion {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.tag_suggestion:hover {
    background-color: #111111;
}

.suggested_tags::-webkit-scrollbar {
    display: none;
}

.tags {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    background-color: #2B2D31;
    width: max-content;
    border-radius: 10px;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid #5a5a5a;
}

.tag>button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.tag>button:hover {
    color: #ff0000;
}

.tag_input_container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: max-content;
    padding: 10px;
}

.tag_input {
    width: 300px;
    height: 40px;
    background-color: #2B2D31;
    color: white;
    border: 1px solid #5a5a5a;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.bottom_buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}